<% provide(:title, 'このサイトについて') %>
<h1>このサイトについて</h1>
<p>
	<a href="http://rubyonrails.org/">Ruby on Rails</a>のチュートリアルの<a href="http://railstutorial.org/">Ruby on Rails チュートリアル</a>をベースとして<a href="http://ruby-rails.hatenadiary.com/">Shojiro Yanagisawa</a>が作成しました。
</p>