<% provide(:title, 'ヘルプ') %>
<h1>ヘルプ</h1>
<h3>Twitter同様にツイート、フォローなどの下記の機能があります</h3>
<p>
	<ul>
		<li>認証機能　　...ユーザ登録、ユーザログインができます。</li>
		<li>MPost機能　...Tweetのように140文字以内のMiniPostができます。</li>
		<li>フォロー機能...他ユーザをフォローできます。フォローすると、自分のフィードに他ユーザのMPostが表示されます。</li>
	</ul>
</p>