<% provide(:title, 'MPosterアカウントを作成する') %>
<h1>MPosterアカウントを作成する</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "MPosterアカウントを作成する", class: "btn btn-large btn-warning", style: "color: black;" %>
    <% end %>
  </div>
</div>