<% provide(:title, 'サインアップ') %>
<h1>サインアップ</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "アカウント作成", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>