<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			<%= object.errors.count %>件エラーがあります。
			<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li> * <%= msg %></li>
			<% end %>
			</ul>
		</div>
	</div>
<% end %>