<%= form_for(@micropost) do |f| %>
	<div class="field">
		<%= f.text_area :content, 
		placeholder: "140文字以内のミニポストメッセージを記入して下さい..." %>
	</div>
	<%= f.submit '投稿する', class: "btn btn-large btn-success" %>
<% end %>