@import "bootstrap";

/**************************************
 ミックスイン、変数など
 **************************************/
$grayMediumLight: #eaeaea;
$greenLight: #5cb85c;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**************************************
 全体
 **************************************/
html {
  overflow-y: scroll;
	height: 100%;
	width: 100%;
}

body {
	padding-top: 60px;
	height: 100%;
	width: 100%;
}

.container {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

a {
	&:hover {
		text-decoration: none;
	}
}

.btn {
	margin-top: 15px;
}

/**************************************
 タイプグラフィティ
 **************************************/
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 2.5em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

h3 {
	border-left: 8px solid $greenLight;
	padding-left: 5px;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**************************************
 ヘッダー
 **************************************/
.navbar-inner {
	height: 46px;
	background: white !important;
	border-bottom: 1px solid #e1e8ed !important;
}

.logo {
	float: left;
	margin-left: 10px;
	font-size: 1.7em;
	padding-top: 9px;
	line-height: 1;

	.mlogo {
		margin-right: 1px;
		padding:1px 4px;
		border:1px solid #55acee;
		border-radius: 50px;
		background: #55acee;
		color: #fff;
	}
	a:hover {
		color: #55acee;
	}
}

.nav {
	margin-top: 5px !important;

	li a {
		&:hover {
			color: #55acee !important;
		}
	}
}

/**************************************
 サイドバー
 **************************************/
aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}

	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

/* ステータス */
.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $grayLighter;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: $greenLight;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
}

/**************************************
 コンテンツ
 **************************************/
/* ユーザ一覧 */
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

/* フォーム */
#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}	
}

.field_with_erros {
	@extend .control-group;
	@extend .error;
}


input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.alert {
	width: 80%;
	margin: 10px auto 20px auto;
}

/* マイクロポスト */
.microposts {
	border: 2px solid $grayMediumLight;
	border-radius: 5px;
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0 10px 0 10px;
	li {
		padding: 10px 0 20px 0;
		border-bottom: 1px solid #e8e8e8;
	}
}
.content {
	font-size: 110%;
	display: block;
}
.timestamp {
	color: $grayLight;
}
.gravatar {
	float: left;
	margin-right: 10px;
	border-radius: 20px;
}

/**************************************
 フッター
 **************************************/
footer {
	height: 30px;
	width: 100%;

	margin-top: 30px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;

	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}

	small {
		margin-left: 20px;
		float: left;
	}

	ul {
		float: right;
		list-style: none;
		margin-right: 40px;
		li {
			float: left;
			margin-left: 10px;
		}
	}

}


/**************************************
 その他
 **************************************/
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}