<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "サンプルアプリ", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "ホーム",		'#' %></li>
					<li><%= link_to "ヘルプ",  	'#' %></li>
					<li><%= link_to "サインイン", '#' %></li>
				</ul>
			</nav>
		</div><!--/#container-->
	</div><!--/#navbar-inner-->
</header>